

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
     
    
}

<h1 style="display: flex; justify-content: center; align-items: center; height: 50vh;">Welcome!</h1>

<p>

</p>
@section Scripts{
    <script>
        function redirectToLogin(){
            window.location.href = '/User/Login';
        }
        function redirectToSignup() {
            window.location.href = '/User/CreateUser';
        }
    </script>
}
