

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
     
    
}

<h1 style="display: flex; justify-content: center; align-items: center; height: 50vh;">Welcome to the EmployeeBook </h1>

<p>

</p>
